<div class="container custom-container">
  <div class="card-deck">
    <div class="card" style="width: 18rem;">
      <div class="custom-brand"><span class="glyphicon glyphicon-user"></span></div>
      <div class="card-body">
        <h5 class="card-title">Clients</h5>
        <p class="card-text">Nombre Clients <strong>{{userCount}}</strong>.</p>
        <a href="/user-list" class="btn btn-custom-link">En Savoir Plus...</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="custom-brand"><span class="glyphicon glyphicon-qrcode"></span></div>
      <div class="card-body">
        <h5 class="card-title">Produits</h5>
        <p class="card-text">Nombre Produits <strong>{{productCount}}</strong>.</p>
        <a href="/product-list" class="btn  btn-custom-link">En Savoir Plus...</a>
      </div>
    </div>


    <div class="card" style="width: 18rem;">
      <div class="custom-brand"><span class="glyphicon glyphicon-usd"></span></div>
      <div class="card-body">
        <h5 class="card-title">Commandes</h5>
        <p class="card-text">Nombre Commandes <strong>{{transactionCount}}</strong>.</p>
        <a href="/orders" class="btn  btn-custom-link">En Savoir Plus...</a>
      </div>
    </div>
  </div>
<div style="margin-top: 20px;">
  <canvas id="myChart"></canvas>
</div>
</div>
