<div class="container custom-container">
  <div class="alert alert-danger" *ngIf="errorMessage">
    <strong>Erreur!</strong> {{errorMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert alert-success" *ngIf="infoMessage">
    <strong>Succès!</strong> {{infoMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div *ngIf="dataSource">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col col-xs-6">
            <h3 class="panel-title">Journalisation</h3>
          </div>
        </div>
      </div>

      <div class="card-body">
        <mat-form-field>
        <mat-label>Chercher</mat-label>
       <input matInput (keyup)="applyFilter($event)" placeholder="Ex. lait">
       </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Numéro</th>
            <td mat-cell *matCellDef="let element">{{element.produit.num_prod}}</td>
          </ng-container>

          <ng-container matColumnDef="libelle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Libellé</th>
            <td mat-cell *matCellDef="let element">{{element.produit.libelle}}</td>
          </ng-container>
           <ng-container matColumnDef="dateajout">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Ajout</th>
            <td mat-cell *matCellDef="let element">{{element.dateajout | date:'dd/MM/yyyy' }}</td>
          </ng-container>

          <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock</th>
            <td mat-cell *matCellDef="let element">{{element.stock}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>


